body{
    background: #000000;
    font-family: "Agency FB";
    color: white;
    font-size: 20pt;
}

table, th, td{
    border: 0.05rem solid white;
    border-collapse: collapse;
    padding: 0.5rem;
}

a{
    text-decoration: none;
    color: white;
}

.index-photo{
    width: 500px;
    height: 300px;
    border: 0.5rem solid white;
}

.index-container{
    text-align: center;
    margin: 10rem;
}

.footer-container{
    text-align: center;
    font-size: 10pt;
}

.index-option-container{
    text-align: center;
}

.centered-table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
}